
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
    
.demo>i[data-v-26b9aa15]{margin:0 20px;font-size:1.5em;vertical-align:middle;color:#606266}.demo button[data-v-26b9aa15]{margin:0 20px}.list-icon[data-v-26b9aa15]{display:inline-block;margin:10px}.list-icon i[data-v-26b9aa15]{font-size:32px;color:#606266}
